<code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Register&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;Register&lt;/h1&gt;
&lt;form&gt;
&lt;label&gt;&lt;input type="text" name="username"&gt;&lt;/label&gt;
&lt;label&gt;&lt;input type="password" name="password"&gt;&lt;/label&gt;
&lt;label&gt;&lt;input type="submit" value="Register"&gt;&lt;/label&gt;
&lt;/form&gt;
&lt;p&gt;Already have an account? &lt;a href="login.html">Log in here&lt;/a&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code>